/* Adiciona uma fonte mais agradável e garante que o layout ocupe toda a altura */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap' );

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
